body {
    font-family: sans-serif;
    text-align: center;
}

img {
    max-width: 100%;
    height: calc(100% - 6.8rem);
    max-height: 180px;
}

#project-card {
    width: 350px;
    color: #3c78c0;
    margin: auto;
}