body {
    font-family: sans-serif;
    text-align: center;
	margin: 0;
	background-color: #303841;
    color: white;
}

nav {
	font-size: 2rem;
}

/* About section */
#about {
	width: 100%;
	min-height: 100vh;
}

#about a {
	font-size: 2.4rem;
	margin-left: 15px;
	margin-right: 15px;
	color: white;
	text-shadow: 2px 2px black;
	display: inline-block;
}

#about-selfsummary {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
}

#about-mystory {
	overflow:visible;
	text-overflow: clip;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#section-heading {
    font-size: 4.2rem;
    font-family: "Audiowide", sans-serif;
}

/* Project section */
#projects {
    background-color: #45567d;
}

#project-card {
    max-width: 350px;
    color: #3c78c0;
    min-height: 400px;
    flex: 1 0 auto;
}

#project-card-image {
    max-width: 100%;
    height: 280px;
}

#project-card-image img {
    height: 100%;
	object-fit: cover;
}

.card-footer a {
    margin: 0px 10px;
    display: inline-block;
	color: #45567d;
}

/* Skill section */
#skill-container {
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 75%;
	margin: auto;
}

#skill-container div {
	margin: auto 20px;
}

#skill-container img {
	max-width: 50px;
	max-height: 50px;
}

#skill-container i {
	font-size: 3rem;
}

/* Footer section */
footer {
	background-color: #45567d;
	height: 60px;
}

footer a {
	float: right;
	display: inline-block;
	margin: 20px 0;
	color: white;
	padding: 0 1rem;
}