body {
    font-family: sans-serif;
    text-align: center;
	margin: 0;
	background-color: #303841;
    color: white;
	box-sizing: border-box;
}

nav {
	font-size: 1.3rem;
}

nav li {
	margin-right: 1rem;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
}

#contact-button {
	border: 3px solid green;
	border-radius: 5px;
	padding: 5px 10px;
	color: white;
	background-color: green;
}

#sidebar {
	position: fixed;
	left: 20px;
	bottom: 0;
	width: 5vw;
	z-index: 1;
}

#sidebar-links {
	display: flex;
	flex-direction:column;
	padding-left: 0;
	margin-bottom: 5rem;
}

#sidebar-links li {
	margin-bottom: 1.5rem;
}

section {
	margin: 0 auto 5rem;
}

/* About section */
#about {
	min-height: 80vh;
	animation-name: slidein;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-direction: normal;
}

#about a {
	margin-left: 15px;
	margin-right: 15px;
	color: white;
	text-shadow: 2px 2px black;
	display: inline-block;
}

#about-greeting {
	margin-top: 200px;
}

#about-greeting * {
	font-size: 5rem;
}

#about-selfsummary {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
}

#about-mystory-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}

#about-mystory {
	overflow:visible;
	text-overflow: clip;
	text-align: left;
    font-size: 1.5rem;
	width: 45%;
}

#experience-container {
	width: 45%;
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
}

.experience-icon-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	transition: all 0.5s ease;
}

.experience-icon-container a * {
	transition: color 0.5s ease;
}

.experience-icon-container:hover {
	transform: scale(1.1, 1.1)
}

.experience-icon-container:hover a *{
	color: rgba(33, 201, 10, 0.765);
}

#orst-logo {
	width: 90px;
}

#orst-link {
	font-size: 1.5rem;
}

#section-heading {
    font-size: 4.2rem;
    font-family: "Audiowide", sans-serif;
}

/* Project section */
#projects-container {
    background-color: #45567d;
}

.project-card {
    max-width: 350px;
    color: #3c78c0;
    min-height: 400px;
    flex: 1 0 auto;
	transition: opacity 2s, translate 2s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0;
	animation-iteration-count: initial;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
		opacity: 0%;
		translate: -50%;
	}

	to {
		opacity: 100%;
		translate: 0;
	}
}

.card-body {
	height: 150px;
}

#project-card-image {
    max-width: 100%;
    height: 280px;
}

.card-footer a {
    margin: 0px 10px;
    display: inline-block;
	color: #45567d;
}

.card-footer-button {
	transition: color 0.5s, transform 0.5s;
}

.card-footer-button:hover {
	color: rgba(33, 201, 10, 0.765);
	transform: scale(1.1, 1.1);
}

.card-footer-button-container {
	display: inline-block;
}

/* Skill section */
#skills {
	color: black;
}

.skillcard {
	height: 150px;
	transition: all ease 0.5s;
}

.skillcard:hover {
	transform: scale(1.1,1.1);
}

.skillcard img {
	height: 100px;
	object-fit: contain;
	padding: 5px;
}

.skill p {
	margin-bottom: 0;
}

/* Footer section */
footer {
	background-color: #45567d;
	height: 60px;
}

footer a {
	float: right;
	display: inline-block;
	text-decoration: none;
	transition: color 0.5s ease;
	margin: 20px 0;
	color: white;
	padding: 0 1rem;
}

@media screen and (max-width: 480px) {
	#sidebar {
		display: none;
	}

	#about-greeting {
		font-size: 3.5rem;
		margin-top: 5rem;
	}

	#about-selfsummary {
		font-size: 1.5rem;
	}

	#about-mystory-container {
		width: 95%;
		flex-direction: column;
	}

	#about-mystory {
		margin: 0 auto 3rem;
		width: 90%;
		text-align: center;
	}

	#experience-container {
		width: 90%;
		margin: 0 auto;
	}

	.experience-icon-container {
		margin-bottom: 2rem;
	}

	#orst-logo {
		height: 130px;
	}

	#orst-link {
		font-size: 1.3rem;
	}

	#skill-container {
		width: 100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 990px) {
	#about-selfsummary {
		width: 95%;
	}

	#skill-container {
		width: 100%;
	}
}