body {
    font-family: sans-serif;
    text-align: center;
	margin: 0;
	background-color: #303841;
    color: white;
	box-sizing: border-box;
}

nav {
	font-size: 2rem;
}

nav li {
	margin-right: 1rem;
}

section {
	margin: 0 auto 5rem;
}

/* About section */
#about {
	min-height: 80vh;
	animation-name: slidein;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-direction: normal;
}

#about a {
	font-size: 2.4rem;
	margin-left: 15px;
	margin-right: 15px;
	color: white;
	text-shadow: 2px 2px black;
	display: inline-block;
}

#about-greeting {
	margin-top: 5rem;
	font-size: 5rem;
}

#about-selfsummary {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
}

.contact-icon {
	margin-right: 0.6rem;
}

#about-mystory-container {
	width: 75%;
	margin: auto;
}

#about-mystory {
	overflow:visible;
	text-overflow: clip;
    font-size: 1.5rem;
    margin-top: 2rem;
}

#section-heading {
    font-size: 4.2rem;
    font-family: "Audiowide", sans-serif;
}

/* Project section */
#projects-container {
    background-color: #45567d;
}

.project-card {
    max-width: 350px;
    color: #3c78c0;
    min-height: 400px;
    flex: 1 0 auto;
	transition: all ease-in 2s;
	animation-name: slidein;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0;
	animation-iteration-count: initial;
	animation-direction: alternate;
}

@keyframes slidein {
	from {
		opacity: 0%;
		translate: -50%;
	}

	to {
		opacity: 100%;
		translate: 0;
	}
}

.card-body {
	height: 150px;
}

#project-card-image {
    max-width: 100%;
    height: 280px;
}

.card-footer {
	height: 120px;
}

.card-footer a {
    margin: 0px 10px;
    display: inline-block;
	color: #45567d;
}

/* Skill section */
#skills {
	color: black;
}

.skillcard {
	height: 150px;
}

.skillcard img {
	height: 100px;
	object-fit: contain;
	padding: 5px;
}

.skill p {
	margin-bottom: 0;
}

/* Footer section */
footer {
	background-color: #45567d;
	height: 60px;
}

footer a {
	float: right;
	display: inline-block;
	margin: 20px 0;
	color: white;
	padding: 0 1rem;
}

@media screen and (max-width: 480px) {
	#about-greeting {
		font-size: 3.5rem;
	}

	#about-selfsummary {
		font-size: 1.5rem;
	}

	#about-mystory-container {
		width: 95%;
	}

	#skill-container {
		width: 100%;
	}
}

@media screen and (min-width: 480px) and (max-width: 990px) {
	#about-selfsummary {
		width: 95%;
	}

	#skill-container {
		width: 100%;
	}
}